.App {
  text-align: center;
  margin: 25px;
}

.container {
  columns: 2 auto;
}

.work-order {
  background-color: rgba(211, 211, 211, 0.966);
  margin: 5px;
  padding: 5px;
  border-width: 2px;
  display: inline-block;
}

.due-date {
  text-align: right;
  margin-right: 5px;
}
